In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostClassifier, BaggingClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings("ignore")

In [2]:
penguins = pd.read_csv("data/penguins_size.csv")

In [3]:
penguins.head()

  species     island  culmen_length_mm  ...  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen              39.1  ...              181.0       3750.0    MALE
1  Adelie  Torgersen              39.5  ...              186.0       3800.0  FEMALE
2  Adelie  Torgersen              40.3  ...              195.0       3250.0  FEMALE
3  Adelie  Torgersen               NaN  ...                NaN          NaN     NaN
4  Adelie  Torgersen              36.7  ...              193.0       3450.0  FEMALE

[5 rows x 7 columns]

In [4]:
penguins = penguins.dropna()

In [5]:
penguins.head()

  species     island  culmen_length_mm  ...  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen              39.1  ...              181.0       3750.0    MALE
1  Adelie  Torgersen              39.5  ...              186.0       3800.0  FEMALE
2  Adelie  Torgersen              40.3  ...              195.0       3250.0  FEMALE
4  Adelie  Torgersen              36.7  ...              193.0       3450.0  FEMALE
5  Adelie  Torgersen              39.3  ...              190.0       3650.0    MALE

[5 rows x 7 columns]

In [6]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            334 non-null    object
 1   island             334 non-null    object
 2   culmen_length_mm   334 non-null    float64
 3   culmen_depth_mm    334 non-null    float64
 4   flipper_length_mm  334 non-null    float64
 5   body_mass_g        334 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 20.9+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 334 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            334 non-null    object
 1   island             334 non-null    object
 2   culmen_length_mm   334 non-null    float64
 3   culmen_depth_mm    334 non-null    float64
 4   flipper_length_mm  334 non-null    float64
 5   body_mass_g        334 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 20.9+ KB

In [74]:
X = penguins.drop(['species'],axis=1)
y = penguins['species']


# Dumify
X = pd.get_dummies(X, drop_first=True)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#model = DecisionTreeClassifier(criterion='entropy',max_depth=1)
#AdaBoost = AdaBoostClassifier(base_estimator= model,n_estimators=400,learning_rate=1)

AdaBoost = AdaBoostClassifier(n_estimators=100,learning_rate=1,algorithm='SAMME')

AdaBoost.fit(X_train,y_train)

prediction = AdaBoost.score(X_test, y_test)

print('The Boosting accuracy is: ',prediction*100,'%')

The Boosting accuracy is:  100.0 %
The Boosting accuracy is:  100.0 %

In [75]:
X = penguins.drop(['species'],axis=1)
y = penguins['species']

# Dumify
X = pd.get_dummies(X, drop_first=True)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

base_model = DecisionTreeClassifier()

# Define Bagging model
bagging_model = BaggingClassifier(estimator=base_model, n_estimators=100, random_state=42, n_jobs=-1)

# Fit the model
bagging_model.fit(X_train,y_train)

# Evaluate on training data
accuracy = bagging_model.score(X_test, y_test)

print('The Bagging accuracy is:', accuracy * 100, '%')

The Bagging accuracy is: 100.0 %
The Bagging accuracy is: 100.0 %

In [97]:
X = penguins.drop(['species','island','body_mass_g'],axis=1)
y = penguins['species']

# Dumify
X = pd.get_dummies(X, drop_first=True)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

AdaBoost = AdaBoostClassifier(n_estimators=5,learning_rate=0.5,algorithm='SAMME')

AdaBoost.fit(X_train,y_train)
prediction = AdaBoost.score(X_test, y_test)
print('The accuracy is: ',prediction*100,'%')

The accuracy is:  92.53731343283582 %
The accuracy is:  92.53731343283582 %

In [99]:
X = penguins.drop(['species','island','body_mass_g'],axis=1)
y = penguins['species']

# Dumify
X = pd.get_dummies(X, drop_first=True)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

AdaBoost = AdaBoostClassifier(n_estimators=20,learning_rate=0.5,algorithm='SAMME')

AdaBoost.fit(X_train,y_train)
prediction = AdaBoost.score(X_test, y_test)
print('The accuracy is: ',prediction*100,'%')

The accuracy is:  98.50746268656717 %
The accuracy is:  98.50746268656717 %

In [87]:
X = penguins.drop(['species','island','body_mass_g'],axis=1)
y = penguins['species']

# Dumify
X = pd.get_dummies(X, drop_first=True)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

AdaBoost = AdaBoostClassifier(n_estimators=20,learning_rate=0.1,algorithm='SAMME')

AdaBoost.fit(X_train,y_train)
prediction = AdaBoost.score(X_test, y_test)
print('The accuracy is: ',prediction*100,'%')

The accuracy is:  74.6268656716418 %
The accuracy is:  74.6268656716418 %

For my three models with different parameters, I changed n_estimators and the learning_rate for each. I also dropped the island and body_mass_g variables from the model in order to make it more difficult to predict species. I found that as n_estimators increases, the accuracy of the model increase. This makes sense because as the boosting model has more base models, it will be better at understanding the differences between each observation. I also found that as learning_rate decreases, the model's accuracy decreases significantly. This also makes logical sense because the findings from each base tree is contributing less, so the final model will not capture all of the discrepancies that are found in the stumps.